<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Jack Morton - Programmer/Enthusiast Charlotte, NC</title>
    </head>

    <header id="header" style="font-size: 60px">Hi, I'm Jack</header>

    <div id="subHeader">
            I love computers, programming, and dogs.
        </div>
        
        <div id="buttons">
            <a href="/Home/Pages" class="homeButton">Pages</a>
            <a href="https://www.github.com/thudcrackers/" target="_blank" class="homeButton">Github</a>
            <a href="https://www.linkedin.com/in/jack-morton-9a308ab3/" target="_blank" class="homeButton">LinkedIn</a>
            <a href="/Home/Contact" class="homeButton">Contact</a>
            <a href="/Home/Index" class="homeButton">About Me</a>
        </div>

        <body>
            {{content}}
        </body>
</html>
