<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        
        <title>Jack Morton - Programmer/Enthusiast Charlotte, NC</title>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127969323-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-127969323-1');
        </script>

    </head>

    <header id="header"><span class="icon"><i class="fas fa-ghost"></i></span> Hi, I'm Jack</header>

    <div id="subHeader">
            I love computers, programming, and dogs.
    </div>
    
    <div id="buttons">
        <a href="{{site.url}}/pages.html" class="homeButton">Pages</a>
        <a href="https://www.github.com/thudcrackers/" target="_blank" class="homeButton">Github</a>
        <a href="https://www.linkedin.com/in/jack-morton-9a308ab3/" target="_blank" class="homeButton">LinkedIn</a>
        <a href="{{site.url}}/contact.html" class="homeButton">Contact</a>
        <a href="{{site.url}}" class="homeButton">About Me</a>
    </div>

    <body class="container">
        {{content}}
    </body>
    <hr />

    <footer style="text-align: center">
        &copy; 2018 - Jack Morton <br>
        <a href="https://bulma.io">
            <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
        </a>
    </footer>
</html>
